<div class="mobile-stats" *ngIf="status !== GameStatus.GameWon">
    <div class="mobile-score"> Wins: {{wins}}</div>
    <div class="mobile-score "> Highscore: {{highscore}}</div>
    <div class="mobile-hangman-mistakes">Remaining tries: {{allowedTryCount }}</div>
</div>
<div class="correct-mobile-stats" *ngIf="status === GameStatus.GameWon">
    CORRECT!
</div>

<div class="container">

    <div class="image">
        <div class="title">THE HANGMAN GAME</div>
        <div class="hangman">



            <img class="hangman-image" [src]="'assets/' + allowedTryCount + '.png'">
            <div class="hangman-mistakes">Remaining tries: {{allowedTryCount }}</div>
        </div>
    </div>

    <div class="word-side" *ngIf="status === GameStatus.GameOn || status === GameStatus.GameWon">
        <ng-container *ngIf="status === GameStatus.GameOn">
            <div class="score"> Wins: {{wins}}</div>
            <div class="score "> Highscore: {{highscore}}</div>
        </ng-container>
        <ng-container *ngIf="status === GameStatus.GameWon">
            <div class="correct"> CORRECT!</div>
        </ng-container>

        <div class="chosen-word ">
            <span class="chosen-word-letter " *ngFor="let letter of displayWord "> {{ letter }} </span>
        </div>

        <div class="letters ">
            <div class="button " [ngClass]="{ 'not-in-word': item.isSelected && !item.isInWord, 'in-word' : item.isSelected && item.isInWord} " *ngFor="let item of lettersState " (click)="onLetterClick(item) ">
                {{item.letter}}
            </div>
        </div>
    </div>
    <div class="game-over-screen" *ngIf="status === GameStatus.GameOver">
        <div class="message ">GAME OVER</div>
        <div class="text ">The hidden word was:
            <div class="hidden-word "><span *ngFor="let item of currentWord ">{{item}}</span></div>
        </div>
        <div class="button play-again" (click)="playAgain() ">Play Again</div>
    </div>
</div>